<% sum=0 %>
<div class="row" id="app">
  <h2 class="text-center profil-title">ショッピングカート</h2>
  <div class="col-lg-8">
    <div class="item-box">
    <% if flash[:error] %>
      <%= flash[:error] %>
   <% end %>
    <% @cart_items.each do |cart_item| %>
      <div class="row">
        <% @product = Product.find(cart_item.product_id) %> 
        <div class="col-lg-5">
          <div><%= attachment_image_tag @product,:image,format:'jpeg',class:"cart-item-img" %></div>
        </div>   

        <div class="col-lg-7">
            <div class="product-title"><%= @product.product_title %></div>
            <div class="price">¥ <%= @product.price %></div>

            <div class="box">
              <%= link_to "", user_cart_item_path(id:cart_item.id,add:false),method: :put,class:"glyphicon glyphicon-minus quantity-box" %>
              <div class="quantity-box" ><%= cart_item.quantity %></div>
              <%= link_to "", user_cart_item_path(id:cart_item.id,add:true),method: :put,class:"glyphicon glyphicon-plus quantity-box" %><br>
            </div>
              <%= link_to "削除", user_cart_item_path(@product.id), method: :delete,class:"btn btn-default" %>

              <% sum+=@product.price*cart_item.quantity %>
        </div>      

        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="sum-box">
      <h2>合計<%= sum %></h2>
      <%= link_to "購入",new_user_history_path(total:sum),class:"btn btn-warning" %>
    </div>
  </div>
</div>
