
<%= form_with url: search_products_path, method: (:get) , local: true do |f| %>
        <%= f.text_field :product_title, placeholder: "CDのタイトルを入力してね！" %>
        <%= submit_tag 'Search' %>
<% end %>

<div class="row">

  <div class="col-lg-3 ranking">
    <p class="title">ランキング</p>
    <div>1位</div>
  </div>

  <div class="col-lg-8 col-lg-offset-1">
   <% @products.each do |product|%>
     <div class="product-block">
       <%= link_to(user_product_path(product.id)) do %>
        <%= attachment_image_tag product, :image,:size => "200x200" %>
        <div><%= product.product_title %></div>
       <% end %>
     </div>
   <% end %>
  </div>
</div>