<h1>Admin::Movies#index</h1>

<% if flash[:notice_m] %>
    <%= flash[:notice_m] %>
<% end %>

<% @movies.each do |m| %>

<%= m.title %>

<%= m.url %>

<%= attachment_image_tag m, :image,fallback: "finish.jpeg"%>

<%= m.detail %>

<% end %>
