
<% if flash[:notice_m] %>
    <%= flash[:notice_m] %>
<% end %>


<div class="row">

  <div class="col-lg-1">
   <%= render 'admin/main_sidebar' %>
  </div>
  <div class="col-lg-1">
    <%= render 'admin/product',index: admin_movies_path,new: new_admin_movie_path %> 
  </div>
  <table class="col-lg-7 col-lg-offset-1">
       <h1 style="text-align:center;">映画一覧</h1>
         <thead>
           <tr>
             <th ></th>
             <th class="movie_name">映画名</th>
           </tr>
         </thead>
       <% @movies.each do |movie| %>
        <div class="movie">
           <tr>
             <td class="movie_image">
               <%= attachment_image_tag movie, :image, :fill, 100, 100%>
             </td>
             <td class="movie_title"><%= movie.title %></td>
             <td><%= link_to "編集",edit_admin_movie_path(movie),class: "btn btn-primary movie_edit" %></td>
             <td><%= link_to "削除", admin_movie_path(movie), method: :delete,class: "btn btn-primary movie_delete" %></td>

           </tr>
         </div>


       <% end %>
     </table>
     <div class="movie_paginate col-lg-offset-4">
       <%= paginate @movies %>
     </div>
</div>
