
<% if flash[:notice_m] %>
    <%= flash[:notice_m] %>
<% end %>

<div class="row">
  <div class="col-lg-1">
  <%= render 'admin/main_sidebar' %>
  </div>
  <div class="col-lg-1">
    <ul class="sidebar">
      <li><%= link_to "一覧", admins_path %></li>
      <li><%= link_to "LP画像",edit_admin_lp_image_path(1) %></li>
    </ul>
  </div>
　

  <table class="col-lg-7 col-lg-offset-1">
       <h1 style="text-align:center;">管理者一覧</h1>
         <thead>
           <tr>
             <th class="admin_name_label">管理者名</th>
             <th class="admin_email_label">管理者emailアドレス</th>
           </tr>
         </thead>
       <% @admins.each do |admin| %>
        <div class="admin">
           <tr>
             <td class="admin_name">
               <%= admin.name %>
             </td>
             <td class="admin_email"><%= admin.email %></td>
             <td><%= link_to "削除", admin_path(admin), method: :delete,class: "btn btn-primary admin_delete" %></td>

           </tr>
         </div>


       <% end %>
     </table>
     <div class="movie_paginate col-lg-offset-4">
       <%= paginate @admins %>
     </div>
</div>
