

<div class="clearfix">
  <div class=" row-eq-height" style="margin: 10px 0;">

    <div class="movie-img">
      <%= attachment_image_tag @movie, :image,:size => "300x300" %>
    </div>
    <div class="movie-information">
      <h1>映画名:<%= @movie.title %></h1>
      <p class="average_movie_review">
        <% if @movie.movie_reviews.exists? %>
          <%= image_tag @movie_review_average_file, :size => '60x20' %>
          <span class="review-count"> / <%= @movie.movie_reviews.count %>件の評価があります</span><br>
        <% end %>
      </p>
        <div class="row-eq-height">
          <div class="movie_relation_product">
           <% unless @movie_relation_product.nil? %>
            <button class="btn btn-warning"> <%= link_to "サウンドトラックを見る!",user_product_path(@movie_relation_product.id), style: "color: white;" %></button>
           <% end %>
          </div>
          <div class="movie_review" style="margin-left: 10px;">
           <% unless @movie.movie_reviewed_by?(current_user) %>
            <%= form_for [@movie,@movie_review],url: user_movie_movie_reviews_path(@movie) do |f| %>
              <%= f.label :rate %>
              <%= f.select :rate, [1,2,3,4,5 ],  :prompt => "選択してください" %>
              <%= f.submit  "見た"%>
            <% end %>
           <% end %>
          </div>
        </div>
        <p  class="movie-url" style="margin-top:10px;">公式URL: <%= link_to @movie.title, @movie.url, class: "btn btn-warning" %></p>

    </div>
  </div>
  <div class="movie-detail-block">
    <span style="font-size: 30px;">詳細</span>
    <p class="detail-content"><%= @movie.detail %></p>
  </div>

</div>
