<div class="row">

   <div class="col-lg-1">
      <%= render 'admin/main_sidebar' %>
   </div>
   <div class="col-lg-1">
     <%= render 'admin/product',index: admin_products_path,new: new_admin_product_path %>
   </div>

   <div class="col-lg-7 col-lg-offset-1">
      <h2 class="text-center profil-title">CD編集</h2>

      <%= form_for(@product, url: admin_product_path) do |f| %>
        <div class="col-lg-4">
          <%= attachment_image_tag @product, :image,:size => "100x100" %>
          <%= f.attachment_field :image %>
        </div>

        <div class="col-lg-6">
          <h3>title</h3>
          <%= f.text_field :product_title, autofocus: true,class:"form-control" %>

          <h3>price</h3>
          <%= f.text_field :price,class:"form-control" %>

          <%= f.submit"編集",class:"btn btn-warning" %>

          <div>
            <p style="font-size: 20px;">Disk1</p>


              <%= f.fields_for :tracks do |track1| %>
                <%= render 'track_fields', f: track1 %>
              <% end %>

              <div class="links">
                <%= link_to_add_association 'Disk1の曲を追加', f, :tracks %>
              </div>


          <div>
            <p style="font-size: 20px;">Disk2</p>


              <%= f.fields_for :tracks do |track2| %>
                <%= render 'track2_fields', f: track2 %>
              <% end %>

            <div class="links">
              <%= link_to_add_association 'Disk2の曲を追加', f, :tracks,partial: 'track2_fields' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
