<div class="row">
  <div class="col-lg-1 col-lg-offset-1">
    <%= render 'admin/main_sidebar' %>
  </div>

  <div class="col-lg-1">
    <ul class="sidebar">
      <li><%= link_to "一覧", admins_path %></li>
      <li><%= link_to "LP画像",edit_admin_lp_image_path(1) %></li>
    </ul>
  </div>

   <div class="col-lg-7 text-center">
   <h3 class="text-center">lp画像編集</h3>
    <% if flash[:notice_m] %>
     <%= flash[:notice_m] %>
    <% end %>
    <% unless @lp_image.nil? %>
      <%= attachment_image_tag @lp_image, :image,:size => "450x300",class:"text-center" %>
    <% end %>

    <div class="text-center">
    <%= form_for(@lp_image,url:admin_lp_image_path(@lp_image)) do |f| %>
      <%= f.attachment_field :image %>
      <%= f.submit"編集",class:"btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
