<!DOCTYPE html>
<html>
  <head>
    <title>Filme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <div class="top-box clearfix">
      <p class="header_title"><%= link_to "Filme",user_products_path %></p>
        <div class="top-list">
          <% if user_signed_in? %>
              <span><%= link_to "マイページ",edit_user_path(current_user) %></span>

              <span class="top-list_item"><%= link_to "カートの中身",user_cart_item_path(current_cart) %></span>

              <span class="top-list_item"><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></span>

          <% elsif admin_signed_in? %>
              <span class="top-list_item"><%= link_to "ログイン",new_user_session_path %></span>

              <span><%= link_to "新規登録",new_user_registration_path %></span>
          <% else %>

          <% end %>
        </div>
      </div>
    </header>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>

    <footer>
      <div class="bottom-box clearfix">
       <small>© CIRCUS</small>
     </div>
    </footer>
  </body>
</html>
