<!DOCTYPE html>
<html>
  <head>
    <title>Filme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ページ飛びやすくするために書いてます。後ほど消す -->
    <div class="container">
      <p><%= link_to "ログアウト (アプリケーション.htmlに書いている)", destroy_user_session_path, method: :delete %></p>
      <p><%= link_to "ログイン(アプリケーション.htmlに書いている)",new_user_session_path %></p>
      <p><%= link_to "新規登録(アプリケーション.htmlに書いている)",new_user_registration_path %></p>
    </div>

    <header>
      <div class="top-box clearfix">
        <%= link_to(user_products_path) do%>
          <p class="header_title">Filme</p>
        <% end %>
        <div class="top-list">
          <% if user_signed_in? %>
              <span><%= link_to "マイページ",edit_user_path(current_user) %></span>

              <span class="top-list_item"><%= link_to "カートの中身",user_cart_item_path(current_cart) %></span>

              <span class="top-list_item"><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></span>

          <% elsif admin_signed_in? %>
              <span class="top-list_item"><%= link_to "ログイン",new_user_session_path %></span>

              <span><%= link_to "新規登録",new_user_registration_path %></span>
          <% else %>

          <% end %>
        </div>

        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
      </div>
    </header>

    
    <%= yield %>

    <footer>
      <div class="bottom-box clearfix">
       <small>© CIRCUS</small>
     </div>
    </footer>
  </body>
</html>
