<!DOCTYPE html>
<html>
  <head>
    <title>Filme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

    <p><%= link_to "ログアウト (アプリケーション.htmlに書いている)", destroy_user_session_path, method: :delete %></p>

    <header>
      <nav class='nav navbar-nav navbar-left' >
        <span class="logo header_title"><%= link_to "Filme",user_products_path %></span>
      </nav>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "マイページ",edit_user_path(current_user) %></li>
            <li><%= link_to "カートの中身",user_cart_item_path(current_cart) %></li>
            <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></li>
        <% elsif admin_signed_in? %>
            <li><%= link_to "ログイン",new_user_registration_path %></li>
            <li><%= link_to "新規登録",new_user_registration_path %></li>
        <% else %>
        　  <li><%= link_to "ログイン",new_user_registration_path %></li>
            <li><%= link_to "新規登録",new_user_registration_path %></li>
        <% end %>
      </ul>
    </header>
    
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>
    <footer>
      <small>© CIRCUS</small>
    </footer>
    </div>
  </body>
</html>
