<!DOCTYPE html>
<html>
  <head>
    <title>Filme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <p><%= link_to "ログアウト (アプリケーション.htmlに書いている)", destroy_user_session_path, method: :delete %></p>
    <% if flash[:notice] %>
     <%= flash[:notice] %>
    <% end %>
    <header>
      <h1>Filme</h1>
      <% if user_signed_in? %>
        <li>
          <span><%= link_to "マイページ", %></span>
          <span><%= link_to "カートの中身", %></span>
          <span><%= link_to "ログアウト", method: :delete %></span>
        </li>
      <% else if %>
          <span><%= link_to "ログイン", %></span>
          <span><%= link_to "新規登録", %></span>
      <% else %>
      <% end %>
    <%= yield %>
    <footer>
      <small>©　CIRCUS</small>
    </div>
  </body>
</html>
