<!DOCTYPE html>
<html>
  <head>
    <title>Filme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <% if flash[:notice] %>
     <%= flash[:notice] %>
    <% end %>

    <header>
      <h1><%= link_to "Filme",user_products_path %></h1>
      <% if user_signed_in? %>
        <li>
          <span><%= link_to "マイページ",edit_user_path(current_user) %></span>
          <span><%= link_to "カートの中身", user_cart_item_path(current_cart) %></span>
          <span><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></span>
        </li>

      <% elsif admin_signed_in? %>
          <span><%= link_to "ログイン",new_user_registration_path %></span>
          <span><%= link_to "新規登録",new_user_registration_path %></span>
      <% else %>
          <span><%= link_to "ログイン",new_user_session_path %></span>
          <span><%= link_to "新規登録",new_user_registration_path %></span>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <small>© CIRCUS</small>
    </footer>
    </div>
  </body>
</html>
